:root,
.light,
[data-theme="light"] {
  --accent: oklch(0.6016 0.07 211.92);
  --accent-foreground: oklch(0.9454 0.1444 102.84);

  --danger-soft: oklch(0.8715 0.0685 25.22);
  --danger-soft-foreground: oklch(0.3563 0.1447 25.69);
}

.dark,
[data-theme="dark"] {
  --accent: oklch(0.3719 0.0166 251.78);
  --accent-foreground: oklch(0.7309 0.1146 84.99);
  --focus: oklch(0.9347 0.0128 86.83);
  --border: color-mix(in oklab, var(--focus) 70%, transparent);
  /* foreground of secondary */
  --accent-soft-foreground: oklch(0.9821 0 0);

  --background: oklch(0.235 0 0);
  /* background of secondary */
  --default: oklch(0.3492 0.0034 286.22);

  --warning-soft: oklch(0.7936 0.1546 90.09 / 23.9%);
  --danger-soft: oklch(0.7848 0.1249 25.04 / 23.9%);
  --danger-soft-foreground: oklch(0.8269 0.0963 24.82);
}
